<div class="button-container">
  <div class="button-wrapper">
    <%= link_to root_path, class: "button button-top button-lg", "data-turbolinks": false do %>
      <i class="fas fa-home"></i>&nbsp;トップページへ
    <% end %>
  </div>
</div>
 
